@page "/food-tools"
@page "/meal-split"
@page "/price-per-kg"

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h6 class="display-6">Meal Split</h6>
            <MealSplit />
        </div>

        <div class="col-sm-4 mt-3 mt-sm-0">
            <h6 class="display-6">Price Per Kg</h6>
            <PricePerKg />
        </div>
    </div>
</div>
