@page "/"
@page "/home"
@inject NavigationManager Nav
@inject HttpClient Client

<PageTitle>Home</PageTitle>

<div class="container">
    @if (_cardCollections != null)
    {
        <div class="row">
            @foreach (var c in _cardCollections)
            {
                <div class="card bg-dark text-light col-md-3 col-5 m-2">
                    <img class="card-img" src="@c.FirstCardImageUrl" alt="Card Image">
                    <div class="card-body">
                        <h5>@c.Name</h5>
                        <p>@c.CardsCount cards</p>
                        <button class="btn btn-primary" @onclick="() => PlayGame(c.Id)">Play</button>
                    </div>
                </div>
            }
        </div>

    }
    else
    {
        <h6 class="display-6">Loading Card Collections...</h6>
    }
</div>

@code{
    private IEnumerable<CardCollectionResponse> _cardCollections;

    protected override async Task OnInitializedAsync()
    {
        _cardCollections = await Client.GetFromJsonAsync<IEnumerable<CardCollectionResponse>>("CardCollections");
    }

    public void PlayGame(int cardsId)
    {
        var gameId = Guid.NewGuid().ToString()[..8];
        Nav.NavigateTo($"/memory/memory-game/{gameId}/{cardsId}");
    }
}
