@page "/"
@inject IConfiguration Config

<PageTitle>Index</PageTitle>

<h5>@_message</h5>
<button @onclick="() => _showAddCardCollection = !_showAddCardCollection" class="btn btn-outline-primary">
    @(_showAddCardCollection ? "Hide" : "Show")
</button>

@if (_showAddCardCollection)
{
    <AddCardCollectionComponent OnAdd="CollectionAdded" />
}

@code{
    private string _message = "";
    private bool _showAddCardCollection;
    private List<CardCollectionResponse> _cardCollections = new();

    public async Task CollectionAdded(CardCollectionResponse collection)
    {
        _cardCollections.Add(collection);
        await PushMessage($"created {collection.Name}");
    }

    private async Task PushMessage(string message)
    {
        _message = message;
        await Task.Delay(5000);
        if (_message == message) _message = "";
    }
}